In [1]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

def getData():
    
    urls = []
    url = 'https://www.pro-football-reference.com/schools/'
    soup = bs(requests.get(url).text, 'html.parser')
    tags = soup.find_all('td', {'data-stat':'college_name'})
    for tag in tags:
        if tag.contents[0] != 'none':
            urls.append('https://www.pro-football-reference.com'+tag.contents[0]['href'])

    teams = []
    players = []
    positions = []
    years = []
    pbs = []
    starts = []
    cavgs = []

    for u in urls[:200]:

        soup = bs(requests.get(u).text, 'html.parser')
        tags = soup.find_all('th', {'data-stat':'pos'})

        for t in tags:
            pos = t.text.strip()
            if pos[:2] in ['FS', 'SS', 'CB', 'DB']:
                tag = t.parent
                teams.append(soup.find_all('h1', {'itemprop':'name'})[0].text.strip().split('\n')[0])
                players.append(tag.find_all('td',{'data-stat':'player'})[0].find_all('a')[0].text.strip())
                positions.append(pos)
                years.append(int(tag.find_all('td',{'data-stat':'years_played'})[0].text.strip()[:4]))
                pbs.append(int(tag.find_all('td',{'data-stat':'pro_bowls'})[0].text.strip()))
                starts.append(int(tag.find_all('td',{'data-stat':'years_as_primary_starter'})[0].text.strip()))
                cavgs.append(int(tag.find_all('td',{'data-stat':'career_av'})[0].text.strip()))


    return pd.DataFrame({'Team':teams, 'Player':players, 'Position':positions, 'Year':years, \
                         'Pro Bowls':pbs, 'Starts':starts, 'Career Value':cavgs})

In [2]:
df = getData()
df

,Team,Player,Position,Year,Pro Bowls,Starts,Career Value
0,Notre Dame,Pat Ballage,DB,1986,0,0,1
1,Notre Dame,Robert Blanton,CB,2012,0,1,9
2,Notre Dame,Luther Bradley,DB,1978,0,2,14
3,Notre Dame,Chris Brown,DB,1984,0,0,3
4,Notre Dame,Sergio Brown,DB,2010,0,1,10
5,Notre Dame,Jim Browner,DB,1979,0,0,3
6,Notre Dame,David Bruton,DB,2009,0,0,10
7,Notre Dame,Frank Budka,DB,1964,0,0,2
8,Notre Dame,Ted Burgmeier,DB,1978,0,0,1
9,Notre Dame,Jeff Burris,DB,1994,0,9,41
10,Notre Dame,Tom Carter,DB,1993,0,6,35
11,Notre Dame,Willie Clark,DB,1994,0,0,8
12,Notre Dame,Deke Cooper,DB,2002,0,3,19
13,Notre Dame,John Covington,DB,1994,0,0,0
14,Notre Dame,Jim Crotty,DB,1960,0,0,10
15,Notre Dame,Travis Davis,DB,1995,0,2,22
16,Notre Dame,Tony Driver,DB,2001,0,0,0
17,Notre Dame,Dave Duerson,DB,1983,4,5,59
18,Notre Dame,Glenn Earl,DB,2004,0,2,10
19,Notre Dame,Pat Eilers,DB,1990,0,0,5
20,Notre Dame,Abram Elam,DB,2006,0,4,26
21,Notre Dame,Clarence Ellis,DB,1972,0,3,18
22,Notre Dame,Matthias Farley,DB,2016,0,1,8
23,Notre Dame,Billy Gay,DB,1951,0,0,0
24,Notre Dame,Deveron Harper,DB,2000,0,0,4
25,Notre Dame,Pat Heenan,DB-E,1960,0,1,7
26,Notre Dame,Ron Israel,DB,2003,0,0,0
27,Notre Dame,Bennett Jackson,CB,2014,0,0,0
28,Notre Dame,John Krimm,DB,1982,0,0,1
29,Notre Dame,Tom Longo,DB,1969,0,1,12
...,...,...,...,...,...,...,...
3463,Ark-Pine Bluff,Dante Wesley,DB,2002,0,0,10
3464,Ark-Pine Bluff,Greg Wesley,DB,2000,0,7,39
3465,Lamar,Billy Bell,DB,1989,0,0,1
3466,Lamar,Rondy Colbert,DB,1975,0,0,5
3467,Lamar,Johnny Fuller,DB,1968,0,4,26
3468,Lamar,Pat Gibbs,DB,1972,0,0,1
3469,Lamar,Bobby Jancik,DB,1962,0,2,17
3470,Lamar,Brendan Langley,CB,2017,0,0,1
3471,Lamar,Johnny Ray Smith,DB,1982,0,0,4
3472,Lamar,Bucky White,DB,1987,0,0,1
3473,Maine,Dave Cloutier,DB,1964,0,0,0
3474,Maine,Kendall James,CB,2014,0,0,0
3475,Maine,Brandon McGowan,DB,2005,0,1,12
3476,Maine,Jerron McMillian,SS,2012,0,0,2
3477,Maine,Daren Stone,DB,2007,0,0,2
3478,Idaho St.,Matt Courtney,DB,1987,0,0,2
3479,Idaho St.,Jamie Fitzgerald,DB,1987,0,0,0
3480,Idaho St.,Jim Wagstaff,DB,1959,0,2,13
3481,Miss. Valley St.,Ashley Ambrose,DB,1992,1,7,53
3482,Miss. Valley St.,Fred Bohannon,DB,1982,0,0,0
3483,Miss. Valley St.,Melvin Morgan,DB,1976,0,0,12
3484,Miss. Valley St.,Lou Rash,DB,1984,0,0,1
3485,Miss. Valley St.,Fred Thomas,DB,1996,0,5,32
3486,Miss. Valley St.,Sam Washington,DB,1982,0,1,10
3487,Texas A&M-Commerce,Autry Beamon,DB,1975,0,3,21
3488,Texas A&M-Commerce,George Boynton,DB,1962,0,0,2
3489,Texas A&M-Commerce,Curtis Buckley,DB-WR,1993,0,0,6
3490,Texas A&M-Commerce,Tim Collier,DB,1976,0,1,19
3491,Texas A&M-Commerce,Kevin Mathis,DB,1997,0,2,21
3492,Texas A&M-Commerce,Jim Thrower,DB,1970,0,0,7

In [3]:
teams = list(df.groupby('Team')['Team'].count().index)
counts = list(df.groupby('Team')['Team'].count())
avgVals = list(df.groupby('Team')['Career Value'].mean())

redux = pd.DataFrame({'Team':teams, '# of Players':counts, 'Avg Career Value': avgVals})
redux

                         Team  # of Players  Avg Career Value
0           Abilene Christian             3         15.333333
1                       Akron             6         15.666667
2                     Alabama            54         14.277778
3                 Alabama St.             3          5.000000
4             Appalachian St.             8          5.125000
5                     Arizona            27         14.629630
6                 Arizona St.            48         18.750000
7              Ark-Pine Bluff             5         13.800000
8                    Arkansas            26         13.576923
9                Arkansas St.            11          4.909091
10                       Army             3          0.000000
11                     Auburn            39         10.384615
12                        BYU            18          6.055556
13                   Ball St.             7         21.285714
14                     Baylor            41         12.658537
15            Bethune-Cookman            12         12.000000
16                  Boise St.            17         12.588235
17                Boston Col.            15          7.600000
18               Boston Univ.             5         23.600000
19              Bowling Green            10         11.800000
20                    Buffalo             2          4.000000
21   Cal Poly-San Luis Obispo             5         13.400000
22                 California            31         11.645161
23            Central Florida            14         14.642857
24           Central Michigan            10          6.800000
25                 Cincinnati            28         10.000000
26                    Clemson            37         16.054054
27                    Colgate             2         65.500000
28                   Colorado            41         17.073171
29               Colorado St.            26         13.730769
..                        ...           ...               ...
156            Texas Southern            14         17.785714
157                 Texas St.             8         13.000000
158                Texas Tech            23          9.782609
159             Texas-El Paso            12         12.833333
160                      Troy            10          8.900000
161                    Tulane            17         14.764706
162                     Tulsa            18          7.333333
163                      UCLA            57         15.701754
164                      UNLV            17          7.764706
165                       USC            68         17.617647
166                      Utah            23         16.260870
167                  Utah St.            23         10.695652
168                Vanderbilt            20         13.900000
169                 Villanova             6          2.833333
170                  Virginia            21         11.333333
171             Virginia Tech            35         10.942857
172               Wake Forest            19          2.631579
173            Washington St.            31         17.612903
174                 Weber St.             6          6.500000
175            West Texas A&M             7         25.571429
176             West Virginia            24         14.375000
177            West. Illinois            11         19.454545
178            West. Michigan             4         11.000000
179          Western Kentucky             9          4.666667
180               Wichita St.             3         23.000000
181            William & Mary             7         25.714286
182                 Wisconsin            36         13.472222
183                   Wyoming            14         12.285714
184                      Yale             7         23.142857
185            Youngstown St.             5          2.200000

[186 rows x 3 columns]

In [4]:
playerMax = redux.sort_values(by = '# of Players').iloc[-1,:]
print(playerMax['Team'], 'had the most players in the NFL at', playerMax['# of Players'])
valMax = redux.sort_values(by = 'Avg Career Value').iloc[-1,:]
print(valMax['Team'], 'had the highest avg valued players in the NFL at', valMax['Avg Career Value'])

Ohio St. had the most players in the NFL at 72
Colgate had the highest avg valued players in the NFL at 65.5

In [5]:
import statistics as stat
outlier = 2*stat.stdev(counts)+stat.mean(counts)
redux[(redux['# of Players'] > outlier)].sort_values(by = 'Avg Career Value', ascending = False)

           Team  # of Players  Avg Career Value
85     Michigan            55         18.290909
165         USC            68         17.617647
152       Texas            52         17.538462
114    Ohio St.            72         16.930556
69          LSU            71         15.943662
83   Miami (FL)            59         15.813559
163        UCLA            57         15.701754
2       Alabama            54         14.277778
43      Florida            55         12.836364
112  Notre Dame            63         12.396825
98     Nebraska            60         12.183333
115    Oklahoma            59         11.949153